{
  "plugins": ["prettier", "react-hooks"],
  "extends": ["react-app", "airbnb", "plugin:prettier/recommended", "eslint:recommended"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/prefer-default-export": "off",
    "no-console": "off",
    "react/destructuring-assignment": "off"
  }
}
